* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  .about__m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 20%;   */
    margin-top: -15%;
  }

  .about_s {
    position: absolute;
    right: 38%;
  }

  .about_bo {
    border: none !important;
  }
}